html {
	background: #f6f8fa;
}
body { text-align: center; padding: 0; margin: 0 }
h1 { font-size: 50px; letter-spacing: 0.4px; margin: 0}
header {
	padding: 30px 0;
}
body { font: 20px Helvetica, sans-serif; color: #333; line-height: 1.5 }
article { display: block; text-align: left; max-width: 650px; margin: 0 auto; }
a { color: #000; text-decoration: underline; }
a:hover { color: #333; text-decoration: none; }

* {
	box-sizing: border-box;
}

html, body, #app, article {
	height: 100%;
	min-height: 100%;
}
.add-item {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	z-index: 10;
	border-top: 1px solid #e7e8e8;
	padding: 20px 0;
	background: white;
}
.add-item form {
	max-width: 650px; 
	margin: 0 auto;
}
.add-item form div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.add-item form div p {
	flex-grow: 1;
	margin-right: 30px;
}
.add-item form div button {
	max-height: 60px;
}

.display-items {
	overflow: hidden;
    overflow-y: auto;
    height: 60%;
}

.display-items ul {
	list-style: none;
	margin: 0;
	padding: 0 20px 0 0;
}
.display-items li {
	margin: 0 0 20px 0;
	display: flex;
	font-size: 16px;
}
.display-items li p {
	margin: 0;
}
.author {
	font-weight: bold;
}
.avatar {
	margin-right: 10px;
	padding-top: 4px;
}
.avatar img {
	border-radius: 4px;
}
.alert-box {
	background: #fcf8e3;
	padding: 20px;
	font-size: 16px;
	font-family: Courier New, Courier, monospace;
}
.alert-box a {
	display: inline-block;
	color: white;
	text-decoration: none;
	background: #444;
	padding: 1px 6px;
	font-size: 14px;
	text-transform: uppercase;
}
.user-meta {
	position: fixed;
	top: 20px;
	right: 20px;
	font-size: 14px;
	font-family: Courier New, Courier, monospace;
}
.user-meta .author-meta {
	margin-bottom: 4px;
	display: flex;
	align-items: center;
}
.user-meta .author-meta img {
	margin-right: 10px;
	border-radius: 20px;
}

@media only screen and (max-width: 768px) {
	article, .add-item {
		padding: 0 20px;
	}
	.user-meta {
		position: static;
	}
	header {
		padding: 20px 0 20px 0;
	}
	h1 {
		font-size: 40px;
	}
	.alert-box {
		font-size: 14px;
	}
}